<div style="width:80%;margin:0 auto;">

   <!--esta mandando al new controlador, DE ACA LA INFORMACION mandara a CREATE POR POST, los campos estan relacionado con el modeo para los parametros-->
   <!--form_for deduce como viajara la informacion y que metodo le pasara, de acuredo al metodo que le llega o variable-->
   <!--si es posible especificarle que url se va a dirigir en este caso deduce por que es RESOURCE-->

   <%= render "articles/form" , {name:"Crear"} %> <!--Desde la coma estamos agregando como un hash la variable local que es nombre y esta en el form para el titulo, el anterior llama al codigo repetido-->

</div>
