<h2>HOLA BRAYANMURPHY - construyendo el BLOG</h2>
<!-- <%[1,2,3,4].each do |number| %>
<p>Número: <%= number * 3%></p>
<%end%>
<% mundo = "BrayanM" %>
<%= "Hola #{mundo}" %>
<%=  "Hola Murphy a volvernos PRO" %> -->
