<!--Informacion del usuario logueado-->
<%if user_signed_in?%>
<h2>Bienvenido <%= current_user.email %> </h2>
<%end%>
<!-- <%[1,2,3,4].each do |number| %>
<p>Número: <%= number * 3%></p>
<%end%>
<% mundo = "BrayanM" %>
<%= "Hola #{mundo}" %>
<%=  "Hola Murphy a volvernos PRO" %> -->
