<header>
  <nav class="be-red white large-padding">
    <ul class="row center-xs around-xs">
      <li class="col-md">
          <h1 class="no-margin" id="logo">BrayanM BLOG</h1>
      </li>
      <li class="col-md">
          Inicio
      </li>
      <li class="col-md">
          Diseño
      </li>
      <li class="col-md">
          Programación
      </li>
      <li class="col-md">
          Tecnología
      </li class="col-md">

      <!--metodo cerrar sesion del DEVISE-->
      <% if user_signed_in? %>
          <li class="col-md">
             <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %>
          </li>
          <%else%>
          <li class="col-md">
             <%= link_to "Iniciar Sesión", new_user_session_path %> <!--Cuando no ay nada el metodo es GET SE VE INSPECTIONANDO EL FORMULARRIO EN EL HTML como envia el metodo la informacion-->
          </li>
          <li class="col-md">
             <%= link_to "Crear Cuenta", new_user_registration_path %> <!-- metodo get es para crearr cuenta, user es el nombre del modelo-->
          </li>
      <%end%>
<!--  -->
    </ul>
  </nav>
</header>
